.campo-texto {
    margin: 24px 0;
    padding: 10px;

}

.campo-texto label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
}

.campo-texto input {
    background-color: #faf4f8;
    box-shadow: 5px 5px 5px #938b8f;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 24px;
    box-sizing: border-box;
}