.botao {
    background-color:#DDA0DD;
    border-radius:10px;
    font-weight: 700;
    font-size: 16px;
    padding: 16px;
    border: none;
    cursor: pointer;
    margin: 18px 0;
}

.botao:hover {
   background-color:#f107f1;
}