.formulario {
    margin: 40px 15px;
    
}

.formulario form {
    background-color: #faf0faf6;
    box-shadow: 3px 3px 9px #938b8f;
    border-radius: 20px;
    padding: 16px 8px;
}

.formulario .subtitle {
    font-size: 16px;
    padding: 10px;
}