.time {
    text-align: center;
    padding: 16px;
   
}
.time h3 {
    font-size:18px;
    border-bottom: 4px solid;
    display: inline-block;
    padding: 8px;
}
.time .funcionarios {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 18px;
    flex-wrap: wrap;
    
}