.banner {
    box-sizing: border-box;
    padding: 10px;
    background-color:#DDA0DD;
    color:rgb;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    text-transform: uppercase;
    font-size: 14px;

}

.banner img {
    width:50%;
    border-radius: 50%;
}


    
