.lista-suspensa label {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;

}

.lista-suspensa select {
    background-color: #faf4f8;
    box-shadow: 2px 2px 6px #938b8f;
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 24px;
    box-sizing: border-box;
}